<div class="row">
	<div class="col-xs-12 col-sm-5">
		<div class="col-xs-12 col-sm-12">
		    <h5>Our Address</h5>
		    <address style="font-size: 100%">
		    Khu GD&ĐT, Khu Công Nghệ Cao Km29 Đại Lộ Thăng Long,, Hòa Lạc, Thạch Thất, Hanoi, Vietnam<br>
			    <i class="fa fa-phone"></i>: +84 168 647 6949<br>
		    	<i class="fa fa-envelope"></i>: 
		    	<a href="mailto:confusion@food.net">soulivongfc@gmail.com</a>
		    </address>
		</div>
		<div class="col-xs-12 col-sm-12">
		    <!-- Button group goes here -->
		    <div class="btn-group" role="group" aria-label="...">
	            <a type="button" class="btn btn-primary" href="tel:85212345678">
	                <i class="fa fa-phone"></i> Call
	            </a>
	            <a type="button" class="btn btn-info">
	                <i class="fa fa-skype"></i> Skype
	            </a>
	            <a type="button" class="btn btn-success" href="mailto:confusion@food.net">
	                <i class="fa fa-envelope-o"></i> Email</i>
	            </a>
	        </div>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-7">
		<div class="col-xs-12 col-sm-12">
		    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.925976156508!2d105.5264669!3d21.0134118!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3c62e29d8ab37e4!2sFPT+University!5e0!3m2!1sen!2s!4v1476501658664" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>